// Body
$body-bg: #f8fafc;

// Typography
$font-opensans: 'Open Sans', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Fonts
$font-bold: 700;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;

// Colors
$white: #fff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$xred: #fe3232;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #333;