// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Carousel
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

// Product
@import 'components/reset';
@import 'components/animate';
@import 'components/custom';
@import 'components/header';
@import 'components/navBar';
@import 'components/mega-menu';
@import 'components/promotion';
@import 'components/product';
@import 'components/footer';
@import 'components/widget';

@import 'layout/cart';
@import 'layout/login';
@import 'layout/product_detail';

body {
	font-family: $font-opensans;
	font-size: $font-size-base;
	overflow-x: hidden;
	background: white;
}

a {
	text-decoration: none;
	background: transparent;
	color: $dark;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: $xred;
}