.breadcrumb {
	background: none;
	padding: .75rem 0;
	margin: 0;
	font-family: Arial;

	&-info {
		border: 1px solid #f4f4f4;
		margin-bottom: 30px;
	}

	&-item {
		a {
			color: #0054a6 !important;
		}
	}
}

.dropdown-menu {
	min-width: 240px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #898989;
    font-weigth: 700;
}

.highlight {
	color: #0054a6 !important;
}

@media (max-width: 576px - 1) {
	.breadcrumb {
		font-size: 12px;
	}
}