.footer {
	background-color: #f5f5f5;
	line-height: 2rem;
	
	&-policy {		
    	font-size: 0.8125rem;

    	&-title {
    		color: $xred;
		    font-weight: bold;
		    text-transform: uppercase;
    	}
	}

	&-address {
		font-size: 0.875rem;
	}

	&-copyright {
		background: $xred;
    	color: $white;
    	font-size: 0.875rem;
	}
}

@media (max-width: 576px - 1) {
	.footer {
		&-policy {
			&-title {
				&:hover {
					cursor: pointer;
				}
				
				&:after {
					font-family: "Font Awesome 5 Free";
				    content: "\F107";
				    position: absolute;
				    right: 1rem;
				}
			}
		}
	}
}