.header {
	&-cart {
		padding-left: 1.5rem;
		white-space: nowrap;
		font-size: 0.875rem;		
	}

	&-user {
		white-space: nowrap;
		font-size: 0.875rem;		
	}

	&-search {
		&-item {
			position: relative;
			padding: 0 20px;
			min-height: 35px;
    		line-height: 30px;

			&:hover {
				background-color: $xred;
				color: $white;
			}
		}

		&-text {
			padding: 0 1rem;
			border-right: 1px solid #f4f4f4;
		}

		&-list {
			position: absolute;
		    min-width: 200px;
		    top: 100%;
		    background: $white;
		    border: 1px solid #f4f4f4;
		    margin-top: 3px;
		    display: none;		   
		}

		&-form {
			display: flex;
			border: 1px solid #f4f4f4;
			position: relative;
			min-height: 2.5rem;
			line-height: 2.5rem;
		}

		&-input {
			border: none;
		    outline: none;
		    padding: 0 15px 0 105px;
		    max-width: 100%;
		    width: 100%;

		}

		&-button {
			background-color: $xred;
			color: $white;
			padding: 0 1rem;
			border: none;
			white-space: nowrap;
		}
	}

	&-collection {
		&-selector {			
		    position: absolute;		    
		    cursor: pointer;
		    left: 0;
		    z-index: 999;
		} 
	}
}

@media (min-width: 992px) and (max-width: 1200px - 1) {
	.header {
		&-user {
			font-size: 0.8125rem;

			&-img {
				width: 1.5rem;
			}
		}

		&-cart {
			font-size: 0.8125rem;
			padding-left: 14px;

			&-img {
				width: 1.5rem;
			}
		}
	}
}

@media (max-width: 992px - 1) {
	.cart {
		&-icon {
			margin-left: auto;
		    position: relative;
		    margin-right: 16px;
		}

		&-img {
			width: 24px;
			height: auto;
		}

		&-count {
			position: absolute;
		    background: #ffb100;
		    border-radius: 50%;
		    width: 20px;
		    text-align: center;
		    color: $white;
		    height: 20px;
		    line-height: 20px;
		    right: -12px;
		    top: -10px;
		}
	}

	.second {
		&-search {

			margin-bottom: 1.5rem;
		    position: relative;
		    display: flex;

			&-input {
				border: 1px solid #f4f4f4;
			    outline: none;
			    padding: 0 10px;
			    width: 100%;
			    max-width: 100%;
			}

			&-button {
				height: 43px;
			    color: $white;
			    background-color: $xred;
			    outline: none;
			    border: none;
			    padding: 0 16px;
			    white-space: nowrap;
			}
		}
	}

	.menu {
		&-cate {
			font-size: 1.25rem;
		    color: $xred;
		    cursor: pointer;
		}
	}
}