
.top {
	&-category {
		border-left: 1px solid #ebebeb;
		border-right: 1px solid #ebebeb;
		background: #fff;	

		.nav {

			&-cate {
				height: 390px;
			}

			&-item {
				display: inherit;
				border-bottom: 1px solid #ebebeb;
				padding: 7px 20px;
				position: static;

				&:hover {
					background: #ffb100;
					color: #fff;
				}

				&:hover > a, &:hover > a > p, &:hover > a > i {
					color: #fff !important;
				}
			}

			&-icon {
			    display: flex;
			    float: left;
			    align-items: center;
			    justify-content: center;
			    width: 30px;
    			height: 58.9px;
			}

			&-text {
				padding: 9px 10px 10px 40px;
    			display: block;
    			position: relative;

				p {
					color: #b7b7b7;
					font-size: 12px;
					padding-right: 20px;
					width: 100%;
				    overflow: hidden;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				}

				span{
					font-size: 15px;
				}
			}
		}
	}
}

i.fa.fa-angle-right {
    position: absolute;
    top: 23px;
    right: 0;
    color: #bababa;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

i.fa.fa-chevron-down {
    position: absolute;
    right: 0;
    color: #bababa;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 0;
    cursor: pointer;
}

.mega {
	&-menu {
		display:none;
	    position: absolute;
	    top: 0;
	    background: #ffffff;
	    z-index: 9999;
	    border: 1px solid #ebebeb;
	    left: calc(100% - 1px);
	    width: 835px;
	    min-height: 360px;
	    padding: 16px;	 

	    &-title {
			font-size: 13px;
		}   

	    &.show {
	    	display: block;
	    }
	    
	    &-item {
	    	display: flex;
	    	flex-flow: wrap;
	    }

	    &-sub {
	    	padding: 0 15px !important;
	    	margin-bottom: 1.5rem;
	    	line-height: 1.5rem;
	    	font-size: 14px;

	    	.h3 {
	    		font-size: 13px;
	    	}

	    	li > a:hover {
	    		color: #FE3232 !important;
	    	}
	    }

	    ul, li {
	    	padding: 0;
	    	list-style-type: none;
	    }
	}
}

@media (min-width: 992px) {
	.mega {
		&-menu {
			&-title {
				font-weight: bold;
			}
		}
	}
}


@media (min-width: 992px) and (max-width: 1200px - 1) {
	.mega {
		&-menu {
			width: 698px;
		}
	}
}

@media (max-width: 992px - 1) {
	.top {
		&-category {
			position: fixed;
		    z-index: 9999;
		    background: #fff;
		    top: 0;
		    left: 0;
		    height: 100vh;
		    width: 270px;
		    overflow-y: auto;
		    transform: translateX(-100%);
		    -webkit-transform: translateX(-100%);
		    -moz-transform: translateX(-100%);
		    transition: 0.5s;

		    &-title {
	    		margin: 0;
			    padding: 20px;
			    background: #FE3232;
			    color: #fff;
			    text-align: center;
			    font-size: 1rem;
			    text-transform: uppercase;
		    }

		    &.open {
		    	transform: translateX(0%);
		    	-webkit-transform: translateX(0%);
		    	-moz-transform: translateX(0%);
		    	-o-transform: translateX(0%);
		    }
		}
	}

	.mega {
		&-menu {
			display: block;
			position: relative;
		    padding: 0 20px;
		    left: 0;
		    border: 0;
		    min-height: 0;
		    margin-left: -20px;
		    width: calc(100% + 40px);

		    &-sub {
		    	margin-bottom: 0;
		    	font-weight: 500;
		    }		    

			&-overlay {
				display: none;
				position: fixed;
				width: 100vw;
				height: 100vh;
				background: rgba(0, 0, 0, 0.7);
				z-index: 998;
				opacity: 0;
				transition: all 0.5s ease-in-out;
				left: 0;
				top: 0;

				&.active {
					opacity: 1;
					display: block;
				}
			}
		}		
	}
}

@media (min-width: 992px) {
	.category-other-page {

		.top-category {
			position: absolute;
		    width: 100%;
		    z-index: 9999;    
		    background: transparent;
		    display: none;
		    top: -2px;
		    background: #fff;

		    &.active {
		    	display: block;
		    }
		}	
	}
}