.bg-topbar {
	background-color: #f4f4f4;
}

.topbar {
	font-size: 0.875rem;
	white-space: nowrap; 
	&-contact {
		display: inline-block;
	}

	.nav {
		&-link {
			padding: .5rem 1rem;
		}
	}
}

.nav {
	&-link {
		color: $dark !important;
		padding: 0;
	}
}

.main {
	&-menu {
		position: relative;
	    border-bottom: 2px solid $xred;
	    line-height: 40px;

	    &-cate {
	    	background: $xred;
    		color: $white;
    		cursor: pointer;
	    }
	}

	&-content {
		position: relative;
	}
}

.fa {
	&-bars {
		padding-left: 30px;
		padding-right: 15px;
	}
}

.navbar {
	padding: 0;
	white-space: nowrap;
	font-size: 14px;
}

.main-menu .nav-link:not(.dropdown) {
	padding: 0 0 0 50px !important;
}

.dropdown-menu {
    margin-top: 0;
    font-size: 14px;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
	background: $xred;
	color: $white !important;
}
.dropdown-menu > li.show > a{
	color: $white !important;
}

.dropdown-menu .dropdown-toggle::after {    
    position: absolute;
    right: 20px;
    top: 20px;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
    }
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: .0;
	    padding-left: 0;
	}
}