.tab-product-promotion {
	background: #f4f4f4;
}

.card {
	&-img {
		text-align: center;
	}

	&-title {
		font-size: 15px;
	    font-weight: bold;
	    line-height: 20px;
	    height: 40px;
	    text-align: left;
	    overflow: hidden;
	}
}

.list {
	&-promotion {
		width: 100%;
		overflow: hidden;
		
		&-info {
			border-right: 1px solid #ffe034;
		}
	}
}

.promotion {
	&-title {
		border-bottom: 5px solid #ffe034;
    	height: 40px;
    	
		h4 {
			color: #8a8c8e;
			margin-right: 0.5rem;
    		margin-bottom: 0;
		}

		a, span {
			color: $xred !important;
		}		
	}

	&-desc {
		height: 40px;
		line-height: 35px;
	}
}

.pro {
	&-item {
		border: 1px solid #ffe034;
		border-radius: 0;
		border-right: 0;
		width: 100%;

		&-img {
			max-width: 100%;
		    width: 200px !important;
		    height: auto;
		    margin: 20px 0;
		    display: inline-block !important;		
		}

		&-sale {
			color: #0054a6;
		    padding: 4px 6px;
		    border-radius: 4px;
		    right: 0;
		    font-weight: 700;
		    font-size: 13px;
		    border: 1px solid;
		}

		&-price {
			font-size: 1rem;
		    font-weight: bold;
		    color: $xred;
		    font-family: 'Rubik', sans-serif;
		}

		&-manufactures {
			display: inline-block !important;
		    width: auto !important;
		    height: auto;
		}

		&-old-price {
			font-size: 0.8125rem;
		    color: #898989;
		    font-family: 'Rubik', sans-serif;
		}
	}

	&-price {
		background-color: #fffcea;
		border-top: 1px solid #ffe034;
	}
}

.owl-theme .owl-nav {
    margin-top: 0 !important;
}

.owl-carousel.owl-drag .owl-item {
    display: flex;
    height: auto !important;        
}

.owl-carousel .owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.owl-dots {
	display: none;
}

.owl-nav .prev-slide::before {
	font-family: "Font Awesome 5 Free";
	content: "\F104";
	position: absolute;
	font-weight: 900;
	width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}

.owl-nav .prev-slide {
    width: 30px;
    height: 30px;
    display: block;
}

.owl-nav .next-slide {
    width: 30px;
    height: 30px;
    display: block;
}

.owl-nav .next-slide::before {
	font-family: "Font Awesome 5 Free";
	content: "\F105";
	position: absolute;
	font-weight: 900;
	width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}

.owl-nav .prev-slide:hover {
	background-color: #FE3232;
}

.owl-nav .next-slide:hover {
	background-color: #FE3232;
}

.owl-nav .owl-prev {
	position: absolute;
    top: 40%;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    font-size: 25px !important;
    left: 0;
    background: #9e9e9e !important;
    color: #fff !important;
    outline: none;
    opacity: .7;
    margin: 0 !important;
    border-radius: 0 !important;
}

.owl-nav .owl-next {
	position: absolute;
    top: 40%;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    font-size: 25px !important;
    right: 0;
    background: #9e9e9e !important;
    outline: none;
    color: #fff !important;
    opacity: .7;
    margin: 0 !important;
    border-radius: 0 !important;
}

@media (max-width: 420px) {
	.card {
		&-title {
			font-size: 13px;
		}

		&-body {
			padding: 0 1rem;
		}

		&-text {
			display: none !important;
		}
	}

	.pro {
		&-price {
			padding: .75rem .5rem !important;
		}		
		&-item {
			&-price {
				position: relative;
			}

			&-sale {
				right: 10px;
				position: absolute;
    			top: calc(100% - 1px);
    			padding: 0 4px;
			}

			&-old {
				&-price {
					font-size: 12px;
				}
			}
		}
	}
}