.product {
	&-title {
		border-bottom: 5px solid #ffe034;;
    	height: 40px;

		a {
			color: $xred !important;
		}

		h4 {
			color: #8a8c8e;
		    margin-bottom: 0;
		}
	}

	&-category {
		height: 40px;
    	line-height: 40px;
    	font-size: 15px;
    	overflow: hidden;

    	a.active-cate {
    		color: #4d4d4f !important;
    	}
	}

	&-item {
		overflow: hidden;
    	width: 100%;

    	&-description {
    		height: 100px;
    		overflow-x: scroll;

    		ul, li {
    			margin: 0 !important;
    			padding: 0 !important;
    		}

    		li:before {
    			content: "-";
			    font-size: 16px;
			    margin-right: 8px;
			    vertical-align: middle;		
    		}
    	}

		&-info {
			width: 100%;
			border-radius: 0;
			border: none;
		    border-right: 1px solid rgba(0,0,0,.125);
		    border-bottom: 1px solid rgba(0,0,0,.125);
		}

		&-manufactures {
			display: inline-block;
		    width: auto !important;
		    height: auto;
		}

		&-price {
			font-size: 1rem;
			font-family: 'Rubik', sans-serif;
			color: $xred;
		}

		&-img {
			img {
			    max-width: 100%;
			    width: 200px !important;
			    height: auto;
			    object-fit: cover;
			    display: inline-block !important;
			    margin: 20px 0;
			}
		}

		&-sale {
			color: #0054a6;
		    padding: 4px 6px;
		    border-radius: 4px;
		    font-weight: 700;
		    font-size: 13px;
		    border: 1px solid;
		}

		&-old-price {
			font-size: 13px;
		    color: #898989;
		}

		&-new-price {
			position: relative;
		}

		&-list, &-related {
			border-top: 1px solid rgba(0, 0, 0, 0.125);
    		border-left: 1px solid rgba(0, 0, 0, 0.125);
		}
	}
}

.list-product:last-child {
	margin-bottom: 24px;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

@media (max-width: 420px) {
	.product {
		&-item {
			&-price {
				padding: .75rem .5rem !important;
			}

			&-sale {
				position: absolute;
				right: 10px;    
			    top: calc(100% - 1px);
			    padding: 0 4px;
			}

			&-old-price {
				font-size: 12px;
			}
		}
	}
}