.widget {
	border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &-info {
    	overflow: hidden;
    }

	&-image {
		float: left;
	    max-width: 100%;
	    height: auto;
	    display: inline-block;
	    margin-right: 1rem;
	}

	&-description {
		font-size: 13px;
    	color: #898989;
	}
}

@media (max-width: 992px - 1) {
	.widget {
		&-quality, &-delivery, &-saving, &-support {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}	
}

@media (max-width: 768px - 1) {
	.widget {
		&-policy {
			text-align: center;
		}

		&-image {
			float: none;
			margin-right: 0;
		}
	}
}