.product {
	&-cart {
		&-info {
			font-family: 'Open Sans';
			min-height: 328px;
		}

		&-calc {			
		    max-width: 167px;
		    position: relative;
		    display: inline-block;
		}

		&-plus {
			font-size: 18px;
		    font-weight: bold;
		    position: absolute;
		    top: 0;
		    right: 0;
		    height: 40px;
		    width: 40px;
		    border-left: 1px solid #dee2e6;		    
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}

		&-minus {
		    font-size: 18px;
		    font-weight: bold;
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: 40px;
		    width: 40px;
		    border-right: 1px solid #dee2e6;
		    display: flex;
		    justify-content: center;
		}

		&-val {
			height: 40px;
		    width: 100%;
		    border: 1px solid #dee2e6;
		    text-align: center;
		    padding: 0 40px;
		    outline: none;
		}

		&-del {
			background: url(/images/bin.png) no-repeat;
			position: absolute;
		    width: 20px;
		    height: 20px;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    background-position: center center;
		}

		&-table {
			font-size: 15px;

			td {
				position: relative;
				vertical-align: middle;
			}

			img {
				width: 130px;
				height: auto;
				max-width: 100%;
			}
		}

		&-payment {
			clear: both;
		    float: right;
		    margin-top: 1rem;
		    margin-bottom: 30px;
		    padding: 12px 50px;
		    background: #FE3232;
		    text-transform: uppercase;

		    a {
		    	color: #fff !important;
		    }
		}

		&-price {
			float: right;
			display: flex;
			border: 1px solid #dee2e6;
			font-family: Arial;
		    font-size: 17px;
		    width: 350px;
		    justify-content: flex-end;
		    letter-spacing: .5px;

		    .sumTotal {
		    	padding: 0.5rem 1.5rem;   
			    flex: 1 1 auto;
			    text-align: left;
		    }

		    .price {
		    	padding: 0.5rem 1rem;
			    border-left: 1px solid #dee2e6;
			    text-align: right;
			    font-weight: bold;			    
		    }
		}

		&-update {
			margin-bottom: 1rem;

			.btn {
				&-cart {
					&-grey {
						background: #ebebeb;
						padding: 0.5rem 1rem;
						font-size: 14px;

						&:focus {
							box-shadow: none;
						}
					}

					&-continue {
						float: left;
					}

					&-remove {
						float: right;
					}
				}				
			}
		}

		.hl-price {
			color: #FE3232;
			font-weight: bold;
		}
	}
}

@media (min-width: 768px) {
	.product {
		&-cart {
			&-desktop {
				display: block;
			}
		}
	}
}

@media (max-width: 768px - 1) {
	.product {
		&-cart {
			&-desktop {
				display: none;
			}

			&-mobile {
				display: block;
			}
		}		
	}

	.cart {
		&-mobile {

			&-total, &-sum {
				display: flex;
			}

			&-minus, &-plus {
				width: 25px;
			    height: 25px;
			    border: 1px solid #dee2e6;
			    position: relative;
			}

			&-minus {
				&:before {
					font-family: "Font Awesome 5 Free";
					content: "\F068";
					position: absolute;
					font-size: 10px;
					font-weight: 600;				
				}
			}

			&-plus {
				&:before {
					font-family: "Font Awesome 5 Free";
					content: "\F067";
					position: absolute;
					font-size: 10px;
					font-weight: 600;				
				}
			}

			&-val {
				width: 25px;
				height: 25px;
				border: none;
				border-top: 1px solid #dee2e6;
				border-bottom: 1px solid #dee2e6;
				text-align: center;
			}

			&-info {
				font-size: 13px;
				overflow: hidden;
				position: relative;
			}

			&-img {
				img {
					max-width: 100%;
					height: auto;
					width: 140px;
				}
			}

			&-body {
				flex: 1 1 auto;
				margin-left: 15px;

				h5 {
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
	}
}