.user {
	&-login {
		
		&-title {
			font-size: 20px;
			font-weight: bold;
		}

		&-form {
			font-family: 'Open Sans';			
		}

		&-oauth {
			font-family: 'Open Sans';
			text-align: center;
			margin: 1.5rem 0;

			&-btn {
				padding-top: 1rem;
			}
		}
	}

	&-reset {
		&-form {
			font-family: 'Open Sans';
		}
	}

	&-required {
		color: #FE3232;
	}

	&-btn {
		color: #fff !important;
		background: #FE3232;
		padding: 8px 20px;

		&:focus {
			box-shadow: none;
		}

		&-register, &-login {
			margin-left: 1rem;
			text-decoration: underline;
			vertical-align: middle;
		}
	}
}