.product {
	&-info {

		&-policy {
			font-size: 14px;

			i.fa-phone {
				color: #fe3232;
			}

			span {
				color: #fe3232;
    			font-weight: bold;
			}

			ul {
				padding-left: 18px;
			    line-height: 25px;		    
			}
		}

		&-title {
			font-size: 18px;
    		font-weight: 700;    		
		}

		&-brand {
			color: #4d4d4f;
			font-size: 14px;

			a {
				color: #0054a6 !important;
			    text-transform: uppercase;
			    padding: 0 1rem;
			}
		}

		&-gift {
			border: 1px solid #fe3232;
		}

		&-promotion {
			border: 1px solid #ddd;

			h3 {
				font-size: 1rem;
			    text-transform: uppercase;
			    font-weight: bold;
			    padding-left: 20px;
			}
		}

		&-gift, &-promotion {
			
    		border-radius: 5px;
    		font-size: 14px;

    		ul {
    			list-style-type: none;
    			padding: 0;
    			margin: 0;

    			li {
    				padding: 5px 20px 5px 40px;
				    overflow: hidden;
    			}

    			li::before {
    				content: "";
				    background: url(/images/check.png) no-repeat;
				    float: left;
				    width: 16px;
				    height: 16px;
				    background-size: 16px 16px;
				    margin-right: 3px;
				    margin-top: 3px;
				    margin-left: -20px;
    			}
    		}

    		span {
			    display: inline-block;
			    position: relative;
			    background: #fe3232;
			    color: #fff;
			    top: -10px;
			    left: 20px;
			    padding: 6px 20px;
			    line-height: 16px;
			    border-radius: 13px;
			    letter-spacing: 0.5px;
    		}
		}

		&-price {
		    margin: 0;
		    padding: .75rem 0;
		    color: #fe3232;
		    font-weight: 700;
		    font-size: 1.75rem;
		    letter-spacing: 1px;
		    font-family: Arial;
		}

		&-rating {
			color: #fd9727;
			font-size: 14px;

			a {
				margin-left: 0.25rem;
				color: #0054a6 !important;
			}
		}

		&-img {
			justify-content: center;
    		align-items: center;
    		border-radius: 0;

			img {
				width: 350px;
				max-width: 100%;
				max-height: 100%;				
			}
		}

		&-thumbnails {
			margin-top: 20px;

			.img-gallery a {
				height: 75px;
			    justify-content: center;
			    align-items: center;
			    border-radius: 0;
			    margin-right: 10px;
			    outline: none;

			    &.active-img {
			    	border-color:#fe3232;
			    }
			}

			img {
				width: auto !important;
				max-height: 100%;
				max-width: 100%;
			}
		}
	}

	&-article {
		h3 {
			font-size: 1.17em;
			font-weight: bold;
			margin-top: 18px;
		}

		p {
			margin: 1em 0 !important;
		}
	}

	&-policy {
		&-image {
			width: 30px;
    		height: auto;
    		margin-right: 14px;
    		margin-top: 5px;
		}

		&-item:not(:first-child) {
			padding-top: 1.5rem;
		}

		&-item:not(:last-child) {
			border-bottom: 1px dotted #ddd;
    		padding-bottom: 1.5rem;
		}

		&-body {
			h5 {
				font-size: 14px;
			    text-transform: uppercase;
			    font-weight: 700;
			    line-height: 1.5rem;
			    margin: 0;
			    color: #333;
			}

			p {
				color: #9397a5;
			    font-weight: 400;
			    line-height: 22px;
			    font-size: 14px;
			}
		}
	}

	&-seeing {
		.product-item-info {
			border: 2px solid #ffe034;
			margin-top: 1rem;
		}
	}

	&-detail {
		&-rate {
			font-size: 14px;
		}

		&-policy {
			padding: 24px 15px;
			background-color: #f5f5f5;
		}

		&-related {
			h4 {
				color: #0054a6;
			}

			p {
				height: 40px;
			    display: inline-block;
			    background: #ffe034;
			    font-weight: bold;
			    font-size: 14px;
			    padding: 8px 15px 8px 15px;
			    font-family: Arial;
			    border-top-left-radius: 5px;
			    position: relative;

			    &:after {
			    	content: "";
				    position: absolute;
				    width: 0;
				    height: 0;
				    top: 0px;
				    border-left: 15px solid #ffe034;
				    border-top: 35px solid transparent;
				    left: 100%
			    }
			}
		}
	}

	&-rate {

		&-review {
			.rate-time {
				color: #999;
			}
		}		

		&-comment {

			.rate {
				&-star {
					font-size: 11px;
    				line-height: 20px;
				}						
			}
		}

		&-star {

			&:after {
				font-family: "Font Awesome 5 Free";
				content: "\F005";
				font-weight: 900;
				padding-left: 4px;
    			font-size: 12px;
			}
		}

		&-title {
			h3 {
				font-size: 20px;
			}
		}

		&-button {
			padding-left: 0;
		}

		&-num {
			padding-right: 0;
		}

		&-box {
			color: #4d4d4f;

			.rate-border-left {
				border: 1px solid #e7e7e7;
			    border-top-left-radius: 5px;
			    border-bottom-left-radius: 5px;
			    padding: 15px 0 15px 24px;
			}

			.rate-border-right {
				border: 1px solid #e7e7e7;
			    border-left: 0;
			    height: 100%;
			    border-top-right-radius: 5px;
			    border-bottom-right-radius: 5px;

			    a {
			    	background: #0054a6;
				    color: #fff !important;
				    padding: 10px;
				    display: block;
				    border-radius: 5px;
				    margin: 47px auto 0;
				    width: 200px;
				    text-align: center;
			    }
			}

		}
		
		&-info {
			display: flex;
			align-items: center;
			overflow: hidden;
    		white-space: nowrap;
		}

		&-progress {
			width: 52%;
    		height: 5px;
    		margin: 0 10px;
		}
	}

	&-specification {
		font-family: sans-serif;
	    font-size: 16px;
	    color: #4d4d4f;	    

    	&-info {
    		max-height: 465px;
    		overflow: hidden;
    	}

    	&-more {
    		background: #0054a6;
		    border-radius: 5px;
		    text-align: center;		    

		    a {
		    	font-size: 14px;
    			color: #fff !important;
    			display: block;
    			line-height: 22px;
    			padding: 5px 0;

    			&:hover {
    				background: #fff;
    				color: #0054a6 !important;
    				border: 1px solid #0054a6;
    			}
		    }
    	}

	    h3 {
	    	font-size: 16px;
		    font-weight: bold;
		    line-height: 25px;
		    margin: 0;
		    padding: 10px;
		    background: #f1f2f2;
	    }

		&-table {
			display: table;
			width: 100%;
		}

		&-row {
			display: table-row;
			font-size: 14px;
		}

		&-item {
			&:first-child {
				width: 40%;
			}

			display: table-cell;
			width: auto;
			border-bottom: 1px solid #e7e7e7;
			padding: 10px;
		}
	}

	.buy {
		&-now {
			float: left;
			background-color: #fe3232;
		}

		&-payment {
			float: right;
			background-color: #0054a6;
		}

		&-now, &-payment {
		    padding: 12px 10px;		    
		    border: none;
		    outline: none;
		    color: #fff;
		    border-radius: 4px;
		}

		&-title {
			font-size: 15px;
		    text-transform: uppercase;
		    font-weight: 700;
		    display: block;
		    text-align: center;
		}

		&-desc {
			font-size: 14px;
		}
	}

}

@media (max-width: 992px - 1) {
	.product {
		&-info {
			&-title {
				margin-top: 15px;
			}
		}

		&-title {
			margin-top: 24px;
		}
	}
}

@media (max-width: 768px - 1) {
	.product {
		&-rate {
			&-num {
				padding-right: 15px;
			}

			&-button {
				padding-left: 15px;
			}

			&-box {
				.rate-border-left {
					border-bottom: 0;
					border-bottom-left-radius: 0;
				}

				.rate-border-right {
				    border-left: 1px solid #e7e7e7;
				    border-top-right-radius: 0;
				    border-bottom-left-radius: 5px;
				    padding: 8px;

				    a {
				    	margin: 0 auto;
				    }
				}
			}
		}

		.buy {
			&-now, &-payment {
				width: 100%;
			}

			&-payment {
				margin-top: 10px;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 992px - 1) {
	.product {
		&-specification {
			&-more {
				width: 200px;
				margin: 0 auto;    			
			}
		}
	}
}